<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="aqh.amp.battery">
  <application
      android:label="AmpBattery"
      android:allowBackup="true"
      android:debuggable="true"
      android:theme="@style/OurColors"
      android:icon="@mipmap/us" >
    <activity
        android:name=".Amp">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
